bin/
obj/
*.dll
*.pdb
*.exe

# Игнорирование служебных файлов среды разработки
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорирование файлов базы данных
*.mdf
*.ldf

# Игнорирование файлов пакетов NuGet
packages/
*.nupkg

# Игнорирование файлов журналов и временных файлов
*.log
*.tmp